@import url('https://fonts.googleapis.com/css?family=Exo:400,700');


*{
  font-family: 'Exo', sans-serif;
  text-align: center;
}

.App-logo {
position: relative;
top: -10%;
  height: 35vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 25s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





*{
    margin: 0px;
    padding: 0px;
}


.context {
    width: 70%;
    position: absolute;
    border-radius: 10%;
    background-color: rgb(108, 38, 174, 0.1);
    top:10%;
    bottom: 10%;
    left: 10%

    
}

.context h1 {
    text-align: center;
    color: #fff;
    font-size: 1.7rem;
    text-shadow: 3px 2px 2px black;
}

.context h2 {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  text-shadow: 1px 1px 1px rgb(211, 237, 8);
}

.context p {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  text-shadow: 2px 2px 2px black;
}

.area{
    background-image: url('background.jpg');
    background-color: #381152;
    background-size: 130%;  
    background-repeat: no-repeat; 
    height: 100vh;
    min-height: 500px;
    background-position: center;
    
   
}

.circles{
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(56, 34, 228, 0.05);
    animation: animate 25s linear infinite;
    bottom: 0px;
    box-shadow: 1px 1px 1px black;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 50s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(4){
    left: 90%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 20s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
}

.circles li:nth-child(7){
    left: 85%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(8){
    left: 60%;
    width: 25px;
    height: 25px;
    animation-delay: 0s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
    animation-duration: 10s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 50%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

